{% extends 'base.html' %} 
{% block title %}About{% endblock title %} 
{% block body %}
<div class="container-fluid p-3 ">
<p style="font-size:30px">Haikyu!! (ハイキュー!!, from the kanji 排球 "volleyball") is a Japanese manga series written and illustrated by Haruichi Furudate.
The story follows Shōyō Hinata, a boy determined to become a great volleyball player despite his small stature.
 It was serialized in Shueisha Weekly Shōnen Jump from February 2012 to July 2020, with its chapters collected in forty-five tankōbon volumes.
 We are Japan based company. We are official distributors of Haikyuu relatd Merchandise.
  Currently we are delievering are products in more then 10 countries.
   You will find any tshirts,pants and shoes. </p>
</div>
{% endblock body %}
